classes/*
classes
classes*
classes/*.*
.idea/
addons/classes
apl_db/
classes/
target/
.DS_Store
sources.tmp
Apollo.jar
Apolloservice.jar
*.iml
*.log
/lib
logs
apl_test_db
nbactions.xml
**/nbactions.xml
/apl-exec/apl.log
**/apl.log
**/pom.xml.versionsBackup
/apl-core/nbproject/
/apl-utils/nbproject/
/.mvn/
/apl-blockchain-db/
/apl-blockchain-logs/
/apl-blockchain-secure-storage/
/apl-blockchain-vault-keystore/
/trace.db/

/apl-crypto/testdata/out/