<configuration scan="true" scanPeriod="30 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <define name="LOGDIR" class="com.apollocurrency.aplwallet.apl.tools.ToolsLogDirDefiner">
    </define>
    <appender name="file-height-monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGDIR}/height-monitor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover monthly -->
            <fileNamePattern>${HEIGHT_MONITOR_LOGDIR}/height-monitor-logs-%d{yyyy-MM}_%i.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.apollocurrency.aplwallet" level="debug"/>
    <logger name="org.eclipse.jetty" level="off"/>
    <root level="severe">
        <appender-ref ref="console" />
        <appender-ref ref="file-height-monitor" />
    </root>
</configuration>