<configuration scan="true" scanPeriod="30 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <!--Memory handler for the GetLog API with a 200-message ring buffer-->
    <appender name="inMemory" class="com.apollocurrency.aplwallet.apl.util.MemoryAppender">
        <size>200</size>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <define name="LOGDIR" class="com.apollocurrency.aplwallet.apl.LogDirPropertyDefiner">
        <logDirectory>
            logback
        </logDirectory>
    </define>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGDIR}/apl.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGDIR}/apl-%d{yyyy-MM-dd}_%i.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.apollocurrency.aplwallet.apl" level="debug"/>
    <!--Uncomment next line to enable trim duration logging-->
    <!--<logger name="com.apollocurrency.aplwallet.apl.db.VersionedEntityDbTable" level="trace"/>-->

    <!--Forging debug-->
    <!--<logger name="com.apollocurrency.aplwallet.apl.Generator" level="trace"/>-->

    <logger name="org.eclipse.jetty" level="off"/>
    <logger name="javax.servlet.level" level="off"/>
    <logger name="com.apollocurrency.aplwallet.apl.http.APIProxyServlet" level="info"/>

    <!--Jdbc statements logging-->
    <logger name="jdbc" level="off"/>
    <logger name="jdbc.connection" level="info"/>
    <logger name="jdbc.sqltiming" level="info"/>
    <root level="severe">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
        <appender-ref ref="inMemory" />
    </root>
</configuration>
