<configuration scan="true" scanPeriod="30 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <define name="LOGFILE" class="com.apollocurrency.aplwallet.apl.LogDirPropertyDefiner">
        <logfile>
            logback/apl.log
        </logfile>
    </define>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>${LOGFILE}</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.apollocurrency.aplwallet.apl" level="debug"/>
    <logger name="org.eclipse.jetty" level="off"/>
    <logger name="javax.servlet.level" level="off"/>
    <logger name="com.apollocurrency.aplwallet.apl.http.APIProxyServlet" level="info"/>
    <root level="severe">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>