<configuration scan="true" scanPeriod="30 seconds">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <define name="LOGDIR" class="com.apollocurrency.aplwallet.apl.exec.LogDirPropertyDefiner">
        <logDirectory>
            apollo
        </logDirectory>
    </define>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGDIR}/apl.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGDIR}/apl-%d{yyyy-MM-dd}_%i.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.apollocurrency.aplwallet" level="INFO"/>
    <!--<logger name="com.apollocurrency.aplwallet.apl.core.peer" level="TRACE"/>-->
    <!--Uncomment next line to enable trim duration logging-->
    <!--<logger name="com.apollocurrency.aplwallet.apl.db.VersionedEntityDbTable" level="trace"/>-->
    <logger name="org.eclipse.jetty" level="off" additivity="false"/>
    <logger name="javax.servlet.level" level="off" additivity="false"/>
    <logger name="com.apollocurrency.aplwallet.apl.core.http.APIProxyServlet" level="info" additivity="false"/>
    <logger name="jdbc" level="off" additivity="false"/>
    <logger name="jdbc.connection" level="info" additivity="false"/>
    <logger name="jdbc.sqltiming" level="info" additivity="false"/>
    <logger name="com.zaxxer" level="warn"/>
    <root level="warn">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>