/******************************************************************************
 * Copyright © 2017-2018 Apollo Foundation                                    *
 *                                                                            *
 ******************************************************************************/
#main-pane{
    -fx-background-image: url("../../img/apollo_logo_splash-screen.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 400 250;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#status-text {
    -fx-text-fill: white;
    -fx-font-size: 15;
}
#progress-indicator {
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-min-height: 35;
    -fx-min-width: 35;
    -fx-progress-color: white;
}
